@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.logo > img{
    height: 80px;
    width: auto;
}

header{
    background: #e4cbef;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 80px;
    width: 100%;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    text-align: right;
}

nav ul li a{
    color: #7F3191;
    font-weight: 700;
    text-decoration: none;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a.active,
nav ul li a:hover{
    background: #7F3191;
    transition: .4s;
    color: #fff;
}

main{
    width: 100%;
    background-color: #f5f5f5;
}

.iconos{
    display: inline-block;
    align-items: center;
    margin: auto auto auto auto;
}

.icono{
    height: 20px;
    width: auto;
    margin: 0 10px;
}

aside{
    float: left;
    width: 20%;
    height: 100%;
    background-color: #e4cbef;
}

.servicios{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    width: 60%;
}

.servicio{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.servicio > img{
    height: 100px;
    width: auto;
}

.servicio > h3{
    color: #7F3191;
    font-weight: 700;
    font-size: 20px;
    margin: 10px 0;
}

.servicio > p{
    color: #7F3191;
    font-weight: 400;
    font-size: 15px;
    margin: 10px 0;
}

.servicio:hover{
    background-color: #7F3191;
    color: #fff;
    transition: .4s;
}

footer{
    background-color: #7F3191;
    height: 80px;
    width: 100%;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
