@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.logo > img{
    height: 80px;
    width: auto;
}

header{
    background: #e4cbef;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 80px;
    width: 100%;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    text-align: right;
}

nav ul li a{
    color: #7F3191;
    font-weight: 700;
    text-decoration: none;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a.active,
nav ul li a:hover{
    background: #7F3191;
    transition: .4s;
    color: #fff;
}

main{
    width: 100%;
    background-color: #f5f5f5;
}

.iconos{
    display: inline-block;
    align-items: center;
    width: 50px;
    margin: 0 auto;
}